<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- ALL permission -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission   android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO"/>
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO"/>

    <!-- jika butuh file manager -->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/in_ai_logo"
        android:label="IN_AI"
        android:roundIcon="@mipmap/in_ai_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.INAI"
        android:usesCleartextTraffic="true">

        <!-- MAIN ACTIVITY -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <!-- CHAT AI ACTIVITY -->
        <activity
            android:name=".ChatActivity"
            android:exported="false"/>

        <!-- CODE EDITOR -->
        <activity
            android:name=".EditorActivity"
            android:exported="false"/>

        <!-- PROJECT EXPLORER -->
        <activity
            android:name=".ProjectActivity"
            android:exported="false"/>

        <!-- FILE PICKER -->
        <activity
            android:name=".FilePickerActivity"
            android:exported="false"/>

        <!-- SERVICE AI -->
        <service
            android:name=".ai.AIService"
            android:exported="false"/>

    </application>

</manifest>